<?xml version="1.0" encoding="utf-8"?>
<nunit xmlns="http://schemas.nunit.org/2011/test-settings">
	<settings>
		<settings>
			<setting name="parallelize" value="all" />
			<!-- Parallelize all tests -->
			<setting name="maxthreads" value="3" />
			<!-- Set max number of threads for parallel tests -->
		</settings>
	</settings>
</nunit>
